body{
    padding-top: 170px;
    min-width :100px;
}
.navbar {
    background-color: #ffffff; 
    padding:0px 80px;
    display: flex; 
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
        .nav-link, .navbar-brand {
            color: #141414;
            margin-left:20px; 
            font-size: larger;
            font-style: normal;
            text-decoration:none;
            cursor:pointer;
        }
        .nav-link:hover {
            color: #19191a ; 
        }
        .dropdown-menu {
            background-color: #ffffffec; 
            display: none;
            position:absolute;
        }
        .dropdown-item {
            padding: 10px 20px;
            color: #000;
            text-decoration: none;
            
        }
        .dropdown-item:hover {
            background-color: #dad1d1; 
        }
        .dropdown:hover .dropdown-menu {
            display: block; 
        
        }
         .ser li a{
            text-decoration: none;
            color:#494646;
            font-size:15px;
        }
        .ser a{
            color: #6e6a6a;
            padding: 6px 15px;    
        }
        .search input {
            display: none;
            position: absolute;
            top: 75%;
            right: 100px;
            transform: translateY(-50%);
            width: 200px;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px 10px;
        }
        .line{
            display: flex;
            align-items: center;
            text-align: center;
            }
            .line hr{
            flex:1;
            border: none;
            border-top:1px solid #333;
            margin: 0 10px;  
            
            }
            .line span{
            font-size: 14px;
            color:#333;
            white-space: nowrap;
            }
        
        
            .app{
                text-align: center;
                padding-top: 40px; 
            }
        
        
            .text {
                display: flex;
                align-items: center;
                gap: 80px; 
                max-width: 1200px; 
                margin: 20px 30px 30px; 
                padding-left: 90px;
              
                margin-top: 70px;
            }
            
            .text div {
                flex: 1; 
            }
            
           
        
            .text li{
                color:#808080;
                font-size: 16px;
                line-height: 1.8;
                text-indent: -20px;
        
        
            }
            
            @media (max-width: 768px) {
                .text {
                    flex-direction: column;
                    align-items: flex-start; 
            }
            }
        
            .imgtext {
                display: flex;
                align-items: center;
                gap: 20px; 
                max-width: 1200px; 
                margin: 20px 30px 30px; 
                padding: 0 30px;
                margin-top: 70px;
            }
            
            .imgtext div {
                flex: 1; 
            }
            
            .imgtext img {
                max-width: 90%; 
                height:350px; 
            }
        
            .imgtext li{
                color:#808080;
                font-size: 16px;
                line-height: 1.8;
                text-indent: -20px;
        
        
            }
            
            @media (max-width: 768px) {
                .imgtext {
                    flex-direction: column;
                    align-items: flex-start; 
            }
            }
        
            .imgtext5 {
                display: flex;
                align-items: center;
                gap: 20px; 
                max-width: 1200px; 
                margin:50px; 
                padding: 0 30px;
                margin-top: 70px;
            }
            
            .imgtext5 div {
                flex: 1; 
            }
            
            .imgtext5 img {
                max-width: 90%; 
                height:350px; 
            }
        
            .imgtext5 li{
                color:#808080;
                font-size: 16px;
                line-height: 1.8;
                text-indent: -20px;
            }
            .imgtext5 p{
                font-size: 16px;
                text-align: center;
                color:#808080;
                line-height: 1.8;
            }
            
            @media (max-width: 768px) {
                .imgtext5 {
                    flex-direction: column;
                    align-items: flex-start; 
            }
            }
        
            .button2{
                background-color:white ;
                display: flex;
                justify-content:center;
                align-items: center; 
                height: 100px;
                border-radius: 50px;
                
            }
            .button2 :hover{
                color: white;
                background-color:#333333;
            }
        
            .contactline{
                display: flex;
                align-items: center;
                text-align: center;
                padding-top: 25px;
                }
                .contactline hr{
                flex:1;
                border: none;
                border-top:1px solid #333;
                margin: 0 10px;  
                
                }
                .contactline span{
                font-size: 16px;
                color:#333;
                white-space: nowrap;
                }
        
                .info-section{
                    display: flex;
                    justify-content: center;
                    gap: 50px;
                  }
            
                  .company-details,
                  .hours {
                    max-width: 300px;
                    text-align: center;
                    
                  }
                  
                  .company-details h2,
                  .hours h2 {
                    font-size: 30px;
                    font-weight: bolder;
                  }
                
                  .hours h2{
                    margin-left: 40px;
                  }
                
                  .company-details h2{
                    margin-right: 30px;
                  }
                
                  .company-details p{
                    margin-right: 30px;
                  }
                  
                  .company-details p,
                  .hours p {
                    font-size: 14px;
                    line-height: 1.6;
                  }
                  
                  .hours {
                    text-align: left;
                  }
        
                  .footer-content {
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    padding: 0 50px;
                  }
                  .footer-text {
                    color: #333333;
                    margin: 0;
                    padding-top: 30px;
                  }
                  .footertext2 a{
                    text-decoration: none;
                    color: #333333;
                    margin-left:30px;
                    gap: 20px; 
                    justify-content: center;  
                }
                .footertext2 p {
                    margin: 0; 
                }
            
            
            
            
                .message-icon {
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    width: 60px;
                    height: 60px;
                    background-color: #333;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    z-index: 1000;
                  }
              
                  .message-icon img {
                    width: 30px;
                    height: 30px;
                  }
              
                  .message-form-container {
                    position: fixed;
                    bottom: 90px;
                    right: 20px;
                    width: 300px;
                    background: #fff;
                    border: 1px solid #ddd;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    display: none;
                    z-index: 1000;
                    overflow-y: auto;
                    height: 400px;
                  }
              
                  .message-form-header {
                    background-color: #333;
                    color: white;
                    padding: 10px;
                    font-size: 16px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  }
              
                  .message-form {
                    padding: 15px;
                    height: auto;
                  }
              
                  .message-form label {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 14px;
                    font-weight: bold;
                  }
              
                  .message-form input,
                  .message-form textarea {
                    width: 90%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    font-size: 14px;
                  }
              
                  .message-form textarea {
                    resize: vertical;
                    height: 80px;
                  }
              
                  .message-form button {
            
                    height: 40px;
                    width: 50%;
                    background-color: #333;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    font-size: 16px;
                    display: block; 
                    margin: 0 auto;
                  }
              
                  .message-form button:hover {
                    background-color: #555;
                  }