body{
    padding-top: 170px;
    min-width :100px;
}
.navbar {
    background-color: #ffffff; 
    padding:0px 80px;
    display: flex; 
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
        .nav-link, .navbar-brand {
            color: #141414;
            margin-left:20px; 
            font-size: larger;
            font-style: normal;
            text-decoration:none;
            cursor:pointer;
        }
        .nav-link:hover {
            color: #19191a ; 
        }
        .dropdown-menu {
            background-color: #ffffffec; 
            display: none;
            position:absolute;
        }
        .dropdown-item {
            padding: 10px 20px;
            color: #000;
            text-decoration: none;
            
        }
        .dropdown-item:hover {
            background-color: #dad1d1; 
        }
        .dropdown:hover .dropdown-menu {
            display: block; 
        
        }
         .ser li a{
            text-decoration: none;
            color:#494646;
            font-size:15px;
        }
        .ser a{
            color: #6e6a6a;
            padding: 6px 15px;    
        }
        .search input {
            display: none;
            position: absolute;
            top: 75%;
            right: 100px;
            transform: translateY(-50%);
            width: 200px;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px 10px;
        }
        .line{
            display: flex;
            align-items: center;
            text-align: center;
            }
            .line hr{
            flex:1;
            border: none;
            border-top:1px solid #333;
            margin: 0 10px;
            z-index: -1;
            
            }
            .line span{
            font-size: 14px;
            color:#333;
            white-space: nowrap;
            }
        
        
            .imgtext2 {
                display: flex;
                align-items: center;
                gap: 20px; 
                max-width: 1200px; 
                margin: 20px 30px 30px; 
                padding: 0 30px;
                margin-top: 70px;
            }
            
            .imgtext2 div {
                flex: 1; 
            }
            
            .imgtext2 img {
                max-width: 600px; 
                height:350px;
            
            }
        
            @media (max-width: 768px) {
                .imgtext2 {
                    flex-direction: column;
                    align-items: flex-start; 
            }
            }
        
            .footer1 a{
                text-decoration: none;
                color:#141414;
                justify-content: center;
                align-items: center;
                padding-right:5px;
                margin-left:3%;
                }
                
            .ftr{
                padding:40px;
                background-color: #bbb0b0;
                }